---
import themes from '../data/themes';
import Layout from '../layout/Layout.astro';
import ColorBox from '../components/ColorBox.astro';

export async function getStaticPaths() {
  return themes.map((theme) => ({
    params: { slug: theme.slug },
    props: { theme },
  }));
}

const { theme } = Astro.props;
const title = `Base16 ${theme.name}`;
const description = `Details about Base16 ${theme.name} theme`;
---

<Layout title={title} description={description}>
  <p><strong>Author:</strong> {theme.author}</p>
  <ul>
    <li>Base00 <ColorBox color={theme.base00}/></li>
    <li>Base01 <ColorBox color={theme.base01}/></li>
    <li>Base02 <ColorBox color={theme.base02}/></li>
    <li>Base03 <ColorBox color={theme.base03}/></li>
    <li>Base04 <ColorBox color={theme.base04}/></li>
    <li>Base05 <ColorBox color={theme.base05}/></li>
    <li>Base06 <ColorBox color={theme.base06}/></li>
    <li>Base07 <ColorBox color={theme.base07}/></li>
    <li>Base08 <ColorBox color={theme.base08}/></li>
    <li>Base09 <ColorBox color={theme.base09}/></li>
    <li>Base0A <ColorBox color={theme.base0A}/></li>
    <li>Base0B <ColorBox color={theme.base0B}/></li>
    <li>Base0C <ColorBox color={theme.base0C}/></li>
    <li>Base0D <ColorBox color={theme.base0D}/></li>
    <li>Base0E <ColorBox color={theme.base0E}/></li>
    <li>Base0F <ColorBox color={theme.base0F}/></li>
  </ul>
</Layout>
